.p-carousel {
    border: 1px solid;
}

.p-carousel .p-carousel-indicators {
    padding : 0;
}

.p-carousel-item {
    display: flex;
    justify-content: center;
}

.p-carousel-items-content {
    margin-bottom: 5px;
}

.sw-chip {
    align-self: center;
}


.screen-wrapper-div #workscreen {
    background-color: whitesmoke;
}